@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: loading-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #333333;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Avatar {
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #CCC;
}

.App-link {
  color: #61dafb;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
